.article-section {
  padding: 2rem 0;
  color: #000;

  & .cards-container {
    display: flex;
    align-items: flex-start;
    column-gap: 32px;
    flex-wrap: wrap;

    @media (max-width: 1297px) {
      row-gap: 16px;
    }
    @media (max-width: 672px) {
      justify-content: center;
    }
  }
}
