.select-input {
  width: 100%;
  color: #616161;
  border: 1px solid var(--color-secondary);
  font-size: 1rem;
  font-family: inherit;
  border-radius: 2px;
  padding: 0.8rem;
  line-height: 1rem;

  &.invalid {
    border-color: red;
  }

  &:focus-visible {
    outline: none;
    // outline: 1px solid var(--color-primary);
    border-color: var(--color-secondary);

    & + .label {
      color: #616161;
    }
  }
}
